{
  "openapi": "3.1.0",
  "info": {
    "title": "iSend Email API",
    "version": "1.0.0",
    "description": "API for sending templated emails through iSend"
  },
  "servers": [
    {
      "url": "http://www.isend.ai"
    }
  ],
  "paths": {
    "/api/send-email": {
      "post": {
        "summary": "Send an email",
        "description": "Sends a templated email to a recipient using dynamic data.",
        "x-codeSamples": [
          {
            "lang": "Node.js",
            "label": "Node.js",
            "source": "const axios = require('axios');\n\naxios.post('https://www.isend.ai/api/send-email', {\n  api_key: 'YOUR_API_KEY',\n  to: 'delivered@resend.dev',\n  from: 'bramu.ss@gmail.com',\n  subject: 'hello world',\n  template: 'welcome_emailer',\n  data_mapping: {\n    name: 'John Doe',\n    email: 'john@example.com'\n  }\n}).then(response => {\n  console.log(response.data);\n}).catch(error => {\n  console.error(error);\n});"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["api_key", "to", "from", "subject", "template", "data_mapping"],
                "properties": {
                  "api_key": {
                    "type": "string",
                    "description": "API key for authenticating the request"
                  },
                  "to": {
                    "type": "string",
                    "format": "email",
                    "description": "Recipient email address"
                  },
                  "from": {
                    "type": "string",
                    "format": "email",
                    "description": "Sender email address"
                  },
                  "subject": {
                    "type": "string",
                    "description": "Subject line of the email"
                  },
                  "template": {
                    "type": "string",
                    "description": "Template identifier to use for the email"
                  },
                  "data_mapping": {
                    "type": "object",
                    "description": "Key-value pairs to fill in the template placeholders",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "example": {
                      "name": "John Doe",
                      "email": "john@example.com"
                    }
                  }
                }
              },
              "example": {
                "api_key": "is_b867c3390755d64915c563923484a6",
                "to": "delivered@resend.dev",
                "from": "bramu.ss@gmail.com",
                "subject": "hello world",
                "template": "welcome_emailer",
                "data_mapping": {
                  "name": "John Doe",
                  "email": "john@example.com"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "messageId": {
                      "type": "string",
                      "example": "abc123"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    }
  }
}
